#app {
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

.main {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 62px;
  padding-top: 48px;
}

.header {
  height: 64px;
  background-color: #2196f3;
}

.tabs {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 62px;
}

.tab-item {
  display: flex;
}

.tab-list {
  list-style-type: none;
  padding-inline-start: 0px;
  margin-block-start: 0;
  margin-block-end: 0;
  display: flex;
  flex-direction: row;
  gap: 16px;
}

.tab-btn {
  width: 120px;
  height: 64px;
  border-width: 0;
  border-style: none;
  border-color: transparent;
  background-color: transparent;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0.25px;
  color: white;
  cursor: pointer;
  padding-block: 0;
  padding-inline: 0;
}

.tab-btn_active {
  background-color: #1e88e5;
}
