@import 'normalize.css';

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;
  line-height: 1.5;
  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  box-sizing: border-box;
  /* font-size: var(--font-size-base); */
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  min-width: 320px;
  height: 100vh;
  margin: 0;
  padding: 0;
  /* background-color: #3b3a48; */
  /* font-family: 'Mulish', 'Arial', sans-serif; */
  /* color: var(--text-primary); */
}
